<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href=<%= users_path%>>Main page</a></li>
    <li class="breadcrumb-item"><a href=<%=user_images_path(@user.id)%>>User images</a></li>
    <li class="breadcrumb-item active" aria-current="page">Favourites images</li>
  </ol>
</nav>

<h1 class="text_center">List of your favourites images</h1>

<div class="row">
  <% @all_urls.each do |x| %>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <%= image_tag(x.url, class: 'image', width: "auto", height: "auto") %>
        <div class="card-body">
          <h5 class="card-title text_center">Good picture for <%= @user.first_name %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>