<center><h1>All images</h1></center>
<h3>Name: <%= @user.name%></h3>
<h3>Lastname: <%= @user.lastname%></h3>
<h3>Email: <%= @user.email%></h3>

<center><h2>Your random image</h2></center>
<center><img src=<%= @url%> alt="random_image"></center>

